.container-pagination{
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.list {
  border: 1px solid #fff;
  padding: 5px;
}

.pagination {
  display: flex;
  border: 1px solid #fff;
  padding: 5px;
}

.pagination button {
  padding: 6px;
}

.active-pagination-button {
  border-radius: 5px;
  background: green;
  color: #fff;
  border: 1px solid #fff;
}
